*{
    margin: 0;
    padding: 0;
}
.block{
    width: 200px;
    height: 200px;
    background-color: #333333;;
    margin-bottom: 20px;
    margin-right: 20px  ;
    display:inline-block;
    float: right;
}

#second{
    /*position: relative; !* helps to move object as we like*!*/
    /*position: fixed; оставляет объект на одном месте при скроле на сайте*/
    /*position: sticky; помогает при скроле*/
    border: 15px solid red;
    top: 199px;
    left: 200px;
    right: 10px;
    bottom: 10px;
}
/*.img{*/
/*    width: 200px;*/
/*    height: 200px;*/
/*}*/
/*.txt{*/
/*float: right;*/
/*}*/
